node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out
neonglow-r36s*.zip
r36s-pixel-*.zip
amberelec-8bit-consoles*.zip
deskos-r36s-theme-v2.zip
